@import "../../../../assets/styles/variables.scss";

.productDeleteButton{
  display: flex;
  align-items: center;
  margin-left: 16px;
  background-color: $color-16;
  border: none;
  color: $color-15;
  & img{
    margin: 0 16px 0 4px;
  }
}

.modalDeleteProductWindow{
  width: 440px;
}

.modalMessage{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;

}

.boldText{
  font-weight: 700;
}
