.mainContentButtons {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  flex-direction: row-reverse;
}

app-replace-catalog{
  margin-right: 16px;
}

app-page-title{
  margin-right: 56.2vw;
}

.trashImgWrapper{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("../../../assets/trash.png") center no-repeat;
  &:hover{
    background-image: url("../../../assets/trash-active.png");
    background-color: #FCD0CF;
  }
}

.emptyTableButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
