@import "../../../../assets/styles/variables.scss";

.ordersSearch{
  display: flex;
  height: 40px;
  width: 350px;
  border-radius: 8px;
  background: $color-2;
  border: 1px solid $color-3;
  outline: none;
  margin-bottom: 24px;
  align-items: center;

  &Img{
    height: 24px;
    width: 24px;
    padding: 8px 12px;
    background: url("../../../../assets/search.png") center no-repeat;
  }
  &Input{
    width: 288px;
    outline: none;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0168em;
    text-align: left;
  }

  &:focus-within{
    border: 1.5px solid $color-5;

    & .ordersSearchImg{
      background: url("../../../../assets/search-blue.svg") center no-repeat;
    }
  }
}

