<app-add [addBtnText]="addCustomer"></app-add>


<app-search-field [placeholder]="placeholder"></app-search-field>

<div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="firstEmptyColumn">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" > </td>
    </ng-container>

    <ng-container matColumnDef="customerNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer No </th>
      <td mat-cell *matCellDef="let element"> {{element.customerNo}} </td>
    </ng-container>

    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryDays">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Days </th>
      <td mat-cell *matCellDef="let element"> {{element.deliveryDays.join(', ')}} </td>
    </ng-container>

    <ng-container matColumnDef="lastEmptyColumn">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" > </td>
    </ng-container>


    <ng-container  >
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="OpenCustomersTableTr(row)"></tr>
    </ng-container>
  </table>
  <div *ngIf="(customersData).length==0" class="emptyTable">
    <app-empty-table></app-empty-table>
    <app-add [addBtnText]="addCustomer"></app-add>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



