app-page-title{
  margin-right: 56.2vw;
}

app-add:first-child{
  position: absolute;
  top: 24px;
  right: 24px;
}


table {
  box-shadow: none;
  & tr{
    cursor: pointer;
  }
}

mat-sidenav {
  width: 200px;
}


