app-page-title{
  margin-right: 56.2vw;
}

app-add:first-child{
  position: absolute;
  top: 24px;
  right: 24px;
}


table {
  box-shadow: none;
  & tr{
    cursor: pointer;
  }
}

mat-sidenav {
  width: 200px;
}

.emptyTable{
  background-color: white;
  border: 1px solid #E0E0E0;
  border-top: none;
  padding: 64px 0 49px 0;
}


.inboxImg{
  margin: 0 auto 24px auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: rgb(226,237,252);
  background-image: url("../../assets/inbox.png");
  background-repeat: no-repeat;
  background-position: center;
}

.emptyTableHeading{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.0075em;
  text-align: center;
  padding-bottom: 8px;
}

.emptyTableDescription{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0168em;
  text-align: center;
  color: #818181;
  padding-bottom: 40px;
}
