<div class="loginWrapper">
  <div class="loginContainer">
    <div class="loginText">Log In</div>
    <form class="loginForm" [formGroup]="loginForm">
      <label for="email" class="email-label">Your Email</label>
      <div class="loginFormInput" id="loginFormInput">
        <input id="email" formControlName="email" (ngModelChange)="handleChange($event)">
        <div class="inputImgWrapper"></div>
      </div>
    </form>
    <div class="hint">Enter the email you signed up with <br/>to receive your login code</div>
    <button type="submit" class="loginBtn" [disabled]="loginForm.invalid" (click)="login()" >Log In</button>
  </div>
</div>

<div class="logoForm">
  <img src="../../assets/BravoLogo.png" alt="logo">
</div>
