.loginWrapper{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(247,247,247);
}

.loginContainer{
  width: 440px;
  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  margin: auto;
  padding: 70px 48px;
}

.loginText{
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom:26px;
}

.loginForm{
  display: flex;
  flex-direction: column;
}

.loginFormInput{
  height: 24px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #A1A1A1;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

input{
  border: none;
  outline: none;
  width: 90%;
}

.loginFormInput:focus-within{
  border: 2px solid #1672EC;
}

.hint{
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.loginBtn{
  padding: 12px;
  height: 48px;
  width: 100%;
  background-color: #1672EC;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  color:#C5DCFA;
}

label{
  margin-left: 10px;
}

.inputImgWrapper{
  width: 24px;
  height: 24px;
}

.valid{
  border: 1.5px solid #2AB930!important;
  & .inputImgWrapper{
    background: url("../../assets/valid-check.svg") no-repeat center;
  }
}


.invalid{
  border: 1.5px solid #F7716E!important;
  & .inputImgWrapper{
    background: url("../../assets/valid-danger.svg") no-repeat center;
  }
}
