<form class="modalWindow" [formGroup]="orderForm">
  <button class="modalCloseBtn" mat-dialog-close><img src="../../../../assets/close-black.png"></button>
  <div class="modalTitle">Add Order</div>
  <form [formGroup]="itemsForm">
    <div class="item">
      <div class="input">
        <label for="item1productCode">Item - 1 product code</label>
        <input id="item1productCode" formControlName="item1productCode"  [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of uniqueProducts" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="input">
        <label for="item1quantity">Item - 1 quantity</label>
        <input id="item1quantity" formControlName="item1quantity">
      </div>
    </div>
    <div class="item" *ngFor = 'let i of counterArr'>
      <div class="input">
        <label for="item{{i}}productCode">Item - {{i}} product name</label>
        <input id="item{{i}}productCode" formControlName="item{{i}}productCode" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of uniqueProducts" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="input">
        <label for="item{{i}}quantity">Item - {{i}} product name</label>
        <input id="item{{i}}quantity" formControlName="item{{i}}quantity">
      </div>
      <div class="item-delete-button" (click)="deleteItem()">
        <app-delete-button ></app-delete-button>
      </div>
    </div>
  </form>
  <div (click)="incrementCounter()"  class="addUnitButton">
    <div class="addUnitButtonImg"></div>
    <div class="addUnitButtonText">Add Item</div>
  </div>
  <div class="input">
    <label for="notes">Notes</label>
    <input id="notes" formControlName="notes">
  </div>
  <div class="input">
    <label for="reqDelivery">ReqDelivery</label>
    <input id="reqDelivery" type="date" formControlName="reqDelivery">
  </div>
</form>

<div class="modalWindowButtons">
  <button class="cancelButton modalWindowButton" mat-dialog-close>Cancel</button>
  <button class="confirmButton modalWindowButton" mat-dialog-close (click)="addOrder()">
    <img src="../../../../assets/math-plus-white.png" alt="white-plus" >
    Add Product
  </button>
</div>
<div id="message"></div>
