<form class="modalWindow" [formGroup]="orderForm">
  <button class="modalCloseBtn" mat-dialog-close><img src="../../../../assets/close-black.png" alt="close"></button>
  <div class="modalTitle">Add Order</div>
  <form [formGroup]="itemsForm" class="small-field">
    <div class="item">
      <div class="input">
        <label for="item1productCode">Item - 1 product code</label>
        <input id="item1productCode" formControlName="item1productCode"  [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getUnits($event.option.value)">
          <mat-option *ngFor="let option of uniqueProducts" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="input">
        <label for="item1unit">Item - 1 unit</label>
        <select id="item1unit" formControlName="item1unit" (change)="changePrice()">
          <option [disabled]="true" [selected]="true">Select an option</option>
          <ng-container *ngFor="let unit of unitsForEachItem[0]">
            <option>{{unit.unit}}</option>
          </ng-container>
        </select>
      </div>
      <div class="input">
        <label for="item1price">Item - 1 price</label>
        <input id="item1price" [value]="unitPrices[0]" [disabled]="true">
      </div>
      <div class="input">
        <label for="item1quantity">Item - 1 quantity</label>
        <input id="item1quantity" formControlName="item1quantity">
      </div>
    </div>
    <div class="item" *ngFor = 'let i of counterArr'>
      <div class="input">
        <label for="item{{i}}productCode">Item - {{i}} product name</label>
        <input id="item{{i}}productCode" formControlName="item{{i}}productCode" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="getUnits($event.option.value, i-1)">
          <mat-option *ngFor="let option of uniqueProducts" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="input">
        <label for="item{{i}}unit">Item - {{i}} unit</label>
        <select id="item{{i}}unit" formControlName="item{{i}}unit" (change)="changePrice(i-1)">
          <option [disabled]="true" [selected]="true">Select an option</option>
          <ng-container *ngFor="let unit of unitsForEachItem[i-1]">
            <option (select)="changePrice(i-1)">{{unit.unit}}</option>
          </ng-container>
        </select>
      </div>
      <div class="input">
        <label for="item{{i}}price">Item - 1 price</label>
        <input id="item{{i}}price" [value]="unitPrices[i-1]" [disabled]="true">
      </div>
      <div class="input">
        <label for="item{{i}}quantity">Item - {{i}} product name</label>
        <input id="item{{i}}quantity" formControlName="item{{i}}quantity">
      </div>
      <div class="item-delete-button" (click)="deleteItem()">
        <app-delete-button ></app-delete-button>
      </div>
    </div>
  </form>
  <div (click)="incrementCounter()"  class="addUnitButton">
    <div class="addUnitButtonImg"></div>
    <div class="addUnitButtonText">Add Item</div>
  </div>
  <div class="input">
    <label for="notes">Notes</label>
    <input id="notes" formControlName="notes">
  </div>
  <div class="input">
    <label for="reqDelivery">ReqDelivery</label>
    <input id="reqDelivery" type="date" formControlName="reqDelivery">
  </div>
</form>

<div class="modalWindowButtons">
  <button class="cancelButton modalWindowButton" mat-dialog-close>Cancel</button>
  <button class="confirmButton modalWindowButton" mat-dialog-close (click)="addOrder()">
    <img src="../../../../assets/math-plus-white.png" alt="white-plus" >
    Add Product
  </button>
</div>
<div id="message"></div>
