@import "../../../../assets/styles/variables.scss";

.input:nth-child(8){
  & input{
    margin-top: 34px;
  }
  & label{
    margin: 0;
  }
}

:host ::ng-deep{

  .mat-checkbox-checked{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
  }

  .mat-checkbox-inner-container {
    margin: auto 13px auto 9px;
  }
}

mat-checkbox{
  width: 94px;
  position: center;
  padding: 5px 0;
}

.mat-checkbox-label{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}

.customerDaysCheckbox{
  margin-bottom: 8px;
}

.addCustomerButton{
  margin-left: 16px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: $color-5;
  color: $color-6;
  border: none;
  & img{
    margin: 0 16px 0 4px;
  }
}

