td {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}


.sortTh {
  display: flex;
  flex-wrap: wrap;
  height: 56px;
  align-items: center;
}

app-customerpicker {
  z-index: 2;
}

.columnName {
  margin-right: 16px;
}

mat-paginator {
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #E0E0E0;
  border-top: none;
}

.searchButtonContainer{
  display: flex;
}

.removeFiltersButton{
  height: 42px;
  margin-left: 24px;
  background-color: #1672EC;
  color: #C5DCFA;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  outline: none;
  cursor: pointer;
  padding: 0 12px;
}

:host ::ng-deep {

  .bigTable th.mat-header-cell{
    font-size: 14px;
    padding: 0 0.7vw;
    border-bottom: 1px solid #E0E0E0;
  }

  mat-datepicker-content {
    transform-origin: left top;
    position: fixed;
    left: 50%;
  }

  .example-element-row td:nth-child(2) {
    background: url("../../../assets/chevron-down.png") center no-repeat;
  }

  .example-expanded-row td:nth-child(2) {
    background: url("../../../assets/chevron-up.png") center no-repeat;
  }

  .example-expanded-row {
    background: #C5DCFA80!important;

    & td:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    & td:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  td.mat-cell:last-of-type {
    padding: 0
  }
}

.sortSizeActiveWrapper {
  height: 24px;
  width: 24px;
  background-color: #C5DCFA;
  border-radius: 50%;

  & img {
    padding: 7px 6px;
    cursor: pointer;
  }
}

.sortSizeWrapper {

  height: 24px;
  width: 24px;
  border-radius: 50%;

  & img {
    cursor: pointer;
    padding: 7px 6px
  }
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  padding: 0 0.7vw;
}

.example-element-detail {
  overflow: hidden;
  background: #C5DCFA40;
  padding-left: 71px;
  padding-right: 15px;
}

.tableInsideTable {
  border: none;
}

th:nth-child(2):hover{
  border-bottom: 1px solid#E0E0E0!important;
}

.tableInsideTable tr {
  height: 56px;
  &:not(:last-child){
    & td{
      border-bottom: 1px solid #E0E0E0;
    }
  }

  & td {
    padding-left: 10px;
  }

  & td:first-child {
    width: 18.75vw;
  }

  & td:nth-child(2) {
    width: 32.25vw
  }

  & td:nth-child(3) {
    width: 19.7%;
  }
}

.tableDetails {
  display: flex;
  height: 78px;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid #E0E0E0;

  & .notes {
    width: 48%;
  }

  & div {
    margin-right: 2%;
  }
}

.print {
  display: flex;
  width: 12%;
  cursor: pointer;

  & img {
    margin-right: 8px;
  }

  & div {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #414141;

  }
}

.address {
  width: 30%
}

.infoTitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  margin-bottom: 2px;
}

td {
  border-bottom: 1px solid #E0E0E0;
}

tr tr:last-child td {
  border-bottom: none;
}


.info {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}

.tableNotes {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tableInsideTable tr td {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}

.tableInsideTable tr:first-child td {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
}

.customerPicker {
  position: absolute;
  margin-top: 120px;
  z-index: 2;
}

.reqDeliverySortTh {
  vertical-align: center;
}
