<ng-container *ngIf="role=='customer'">
  <div class="addButton">
    <app-add [addBtnText]="'Add Order'" (click)="openAddOrderModalWindow()"></app-add>
  </div>
</ng-container>

<div class="searchButtonContainer">
  <app-search-field [placeholder]="placeholder" (currentSearch)="takeCurrentSearch($event)"></app-search-field>
  <button class="removeFiltersButton" (click)="removeAllFilters()">Remove all filters</button>
</div>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="bigTable">

  <ng-container matColumnDef="firstEmptyColumn">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th class="mainTableTh" mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container matColumnDef="orderNo">
    <th class="mainTableTh" mat-header-cell *matHeaderCellDef> Order No</th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>

  <ng-container matColumnDef="customer" class="customerTh">
    <th mat-header-cell *matHeaderCellDef class="sortTh">
      <div class="sortTh">
        <div class="columnName"> Customer</div>
        <ng-container *ngIf="role == 'admin'">
          <div *ngIf="!isCustomersOpened; else activeCustomerSelect">
            <div class="sortSizeWrapper">
              <img src="../../../assets/sort-size.png" (click)="customerSelectOpen()" alt="sort-size"/>
            </div>
          </div>
          <div *ngIf="isCustomersOpened" class="customerPicker">
            <app-customerpicker [allCustomers]="uniqueCustomers"></app-customerpicker>
          </div>
        </ng-container>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.customerData.name}} </td>
  </ng-container>

  <ng-container matColumnDef="customerNo">
    <th class="mainTableTh" mat-header-cell *matHeaderCellDef> Customer No</th>
    <td mat-cell *matCellDef="let element"> {{element.customerData.customerNo}} </td>
  </ng-container>

  <ng-container matColumnDef="items">
    <th class="mainTableTh" mat-header-cell *matHeaderCellDef> Items</th>
    <td mat-cell *matCellDef="let element"> {{ element.items.length }} </td>
  </ng-container>

  <ng-container matColumnDef="notes" class="notesTd">
    <th class="mainTableTh" mat-header-cell *matHeaderCellDef> Notes</th>
    <td mat-cell *matCellDef="let element" class="tableNotes"> {{ element.notes }} </td>
  </ng-container>

  <ng-container matColumnDef="ordered">
    <th mat-header-cell *matHeaderCellDef>
      <div class="sortTh">
        <div class="sortTh">
          <div class="columnName"> Ordered</div>
          <div>
            <div class="datepicker">
              <mat-date-range-input [rangePicker]="picker" [formGroup]="range"
                                    style="width: 0; height: 0; visibility: hidden">
                <input matStartDate placeholder="Start date" style="display: none" formControlName="start">
                <input matEndDate placeholder="End date" style="display: none" formControlName="end">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker" style="display: none"></mat-datepicker-toggle>
              <mat-date-range-picker #picker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel (click)="toggleDataPicker(); cancelDatepickerData()">
                    Cancel
                  </button>
                  <button type="submit" mat-raised-button color="primary" matDateRangePickerApply
                          (click)="enterDatepickerData(); toggleDataPicker()">
                    <img src="../../../assets/check.png">
                    Done
                  </button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
              <div class="sortSizeWrapper" *ngIf="!dataPickerOpened; else activeDatepicker">
                <img src="../../../assets/sort-size.png" (click)=" picker.open(); toggleDataPicker()"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{JsonDateParse(element.ordered) | dateFormat  }} </td>
  </ng-container>

  <ng-container matColumnDef="reqDelivery">
    <th mat-header-cell *matHeaderCellDef>
      <div class="sortTh">
        <div class="columnName"> Req Delivery</div>
      </div>
    </th>
    <td mat-cell *matCellDef="let element"> {{JsonDateParse(element.reqDelivery) | dateFormat }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      <div class="sortTh">
        <div class="columnName"> Status</div>
        <div class="sortSizeWrapper" *ngIf="!isStatusOpened; else statusOpen">
          <img src="../../../assets/sort-size.png" class="sort-size" (click)="toggleStatusSelect()"/>
        </div>
        <div *ngIf="isStatusOpened" class="statusSelect">
          <app-status-select (currentStatus)="getStatus($event)"
                             (confirmedStatus)="toggleStatusSelect()"></app-status-select>
        </div>
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <app-status [element]="element"></app-status>
    </td>
  </ng-container>

  <ng-container matColumnDef="statusActions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <app-status-actions></app-status-actions>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastEmptyColumn">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
        <div class="tableDetails">
          <div class="notes">
            <div class="infoTitle">Notes:</div>
            <div class="info">{{ element.notes }}</div>
          </div>
          <div class="address">
            <div class="infoTitle">Delivery Address:</div>
            <div class="info">{{ element.customerData.deliveryAddress}}</div>
          </div>
          <a class="print" target="_blank" (click)="openPrint(element)">
            <img src="../../../assets/print.png" height="20" width="20"/>
            <div>Print order</div>
          </a>
        </div>
        <table class="tableInsideTable">
          <tr>
            <td>ProductCode</td>
            <td>Product</td>
            <td>Unit</td>
            <td>Price</td>
            <td>Quantity</td>
          </tr>
          <tr *ngFor="let item of (element.items)">
            <td>{{ item.productCode }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.activeUnit.unit }}</td>
            <td>{{ item.activeUnit.price }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<div *ngIf="(ordersData).length == 0" class="emptyTable">
  <app-empty-table [text]="'order'"></app-empty-table>
  <ng-container *ngIf="role=='customer'">
    <app-add [addBtnText]="'Add Order'" (click)="openAddOrderModalWindow()"></app-add>
  </ng-container>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<ng-template #activeDatepicker>
  <div class="sortSizeActiveWrapper">
    <img src="../../../assets/sort-size-active.png" alt="sort-size-active" (click)="toggleDataPicker()"/>
  </div>
</ng-template>

<ng-template #activeCustomerSelect>
  <div class="sortSizeActiveWrapper">
    <img src="../../../assets/sort-size-active.png" alt="sort-size-active" (click)="customerSelectOpen()"/>
  </div>
</ng-template>

<ng-template #statusOpen>
  <div class="sortSizeActiveWrapper">
    <img src="../../../assets/sort-size-active.png" alt="sort-size-active" (click)="toggleStatusSelect()"/>
  </div>
</ng-template>
