<div class="modalWindow">
  <div class="modalTitle"> Replace Catalog</div>
  <div class="modalDescription"> Drops the existing catalog and imports the new one</div>
  <div class="dropZone">
    <div   *ngIf="files.length === 0">
      <div class="container" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)" />
        <h4 class="dragTitle">Drag or Click here to upload files</h4>
        <h5 class="dragDescription">Note, that only .CSV files are <br> supported</h5>
      </div>
      <!--<label class="label-down" for="fileDropRef">
        <img src="../../../../assets/software-download.png">
        <span class="download">Download </span>our Template as a help.
      </label>-->
    </div>

    <div class="files-list">
      <div class="single-file" *ngFor="let file of files; let i = index">
        <div class="file-icon">
        </div>
        <div class="info">
          <div class="fileName">
            {{ file?.name }}
          </div>
          <div class="fileSize">
            {{ formatBytes(file?.size, 10) }}
          </div>
          <app-progress [progress]="file?.progress"></app-progress>
        </div>

        <div class="fileDelete" (click)="deleteFile(i)">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.22517 0.811448C1.83465 0.420924 1.20148 0.420924 0.81096 0.811448C0.420435 1.20197 0.420435 1.83514 0.81096 2.22566L6.58569 8.0004L0.811019 13.7751C0.420495 14.1656 0.420495 14.7988 0.811019 15.1893C1.20154 15.5798 1.83471 15.5798 2.22523 15.1893L7.99991 9.41461L13.7746 15.1893C14.1651 15.5798 14.7983 15.5798 15.1888 15.1893C15.5793 14.7988 15.5793 14.1656 15.1888 13.7751L9.41412 8.0004L15.1889 2.22566C15.5794 1.83514 15.5794 1.20197 15.1889 0.811448C14.7983 0.420924 14.1652 0.420924 13.7746 0.811448L7.99991 6.58618L2.22517 0.811448Z" fill="#616161"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="downloadContainer">
    <img src="../../../../assets/software-download.png">
    <div>
      <span class="download">Download </span>our Template as a help.
    </div>
  </div>
</div>

<div class="modalWindowButtons">
  <button class="cancelModalButton modalWindowButton" mat-dialog-close>Cancel</button>
  <button class="confirmButton modalWindowButton" type="submit" mat-dialog-close>
    <img src="../../../../assets/math-plus-white.png" alt="white-plus">
    Replace Catalog
  </button>
</div>
