<form class="modalWindow" [formGroup]="productForm">
  <button class="modalCloseBtn" mat-dialog-close><img src="../../../../assets/close.png"></button>
  <h2 class="modalTitle"> {{ productModalTitle }}</h2>
  <div class="input">
    <label for="customerNo">Product Code</label>
    <input id="customerNo" formControlName="productCode">
  </div>
  <div class="input">
    <label for="name">Name </label>
    <input id="name" formControlName="name">
  </div>
  <div class="mainUnit" >
    <div class="unitName input">
      <label for="unit">Unit </label>
      <input id="unit" formControlName="unit">
    </div>
    <div class="unitPrice input">
      <label for="price">Price (optional) </label>
      <input id="price" formControlName="price">
    </div>
  </div>
  <div class="input">
    <label for="availability">Availability </label>
    <input id="availability" formControlName="availability">
  </div>
</form>

<div class="modalWindowButtons">
  <button class="cancelButton modalWindowButton" mat-dialog-close>Cancel</button>
  <button class="confirmButton modalWindowButton" (click)="addNewProduct()" mat-dialog-close="">
    <img src="../../../../assets/math-plus-white.png" alt="white-plus" >
    Add Product
  </button>
</div>
