.mainUnit{
  display: flex;
  flex-basis: auto
}



:host ::ng-deep{
  .mat-checkbox-checked{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
  }

  .mat-checkbox-inner-container {
    margin: auto 13px auto 9px;
  }
}

mat-checkbox{
  width: 94px;
  position: center;
  padding: 12px 0;
}

.mat-checkbox-label{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}
