<form class="modalWindow" [formGroup]="productForm">
  <button class="modalCloseBtn" mat-dialog-close><img src="../../../../assets/close-black.png"></button>
  <div class="modalTitle"> {{ productModalTitle }}</div>
  <div class="input">
    <label for="customerNo">Product Code</label>
    <input id="customerNo" formControlName="productCode">
  </div>
  <div class="input">
    <label for="name">Name </label>
    <input id="name" formControlName="name">
  </div>
  <div class="mainUnit" >
    <div class="unitName input">
      <label for="mainUnitName">Unit </label>
      <input id="mainUnitName" formControlName="mainUintName">
    </div>
    <div class="unitPrice input">
      <label for="mainUnitPrice">Price (optional) </label>
      <input id="mainUnitPrice" formControlName="mainUnitPrice">
    </div>
  </div>
 <form [formGroup]="anotherUnitsForm">
   <div class="additionalUnits" *ngFor="let unit of anotherUnits">
     <div class="unitName input">
       <label for="unit{{anotherUnits.indexOf(unit)}}">Unit-{{anotherUnits.indexOf(unit) + 1}} </label>
       <input id="unit{{anotherUnits.indexOf(unit)}}"  placeholder="{{unit}}" formControlName="Unit-{{anotherUnits.indexOf(unit) + 1}}">
     </div>
     <div class="unitPrice input">
       <label for="price{{anotherUnits.indexOf(unit)}}">Price (optional) </label>
       <input id="price{{anotherUnits.indexOf(unit)}}" formControlName="Price-{{anotherUnits.indexOf(unit) + 1}}">
     </div>
     <div (click)="deleteUnit(unit)">
       <app-delete-button ></app-delete-button>
     </div>
   </div>
 </form>
  <div *ngIf="anotherUnits.length<(maxUnitsAmount-1); else maxUnitsAmountText" class="addUnitButton" (click)="addUnit()">
    <div class="addUnitButtonImg"></div>
    <div class="addUnitButtonText">Add Unit</div>
  </div>
  <ng-template #maxUnitsAmountText>
    <div class="maxUnitsAmountText">
      Max number of Units - {{maxUnitsAmount}}
    </div>
  </ng-template>

  <div class="input">
    <label for="availability">Availability </label>
    <select id="availability" formControlName="availability">
      <option>In stock</option>
      <option>Out of stock</option>
      <option>Discounted</option>
    </select>
  </div>
</form>

<div class="modalWindowButtons">
  <button class="cancelButton modalWindowButton" mat-dialog-close>Cancel</button>
  <button class="confirmButton modalWindowButton" (click)="addNewProduct()" mat-dialog-close="">
    <img src="../../../../assets/math-plus-white.png" alt="white-plus" >
    Add Product
  </button>
</div>
