<form class="modalWindow" [formGroup]="productForm">
  <button class="modalCloseBtn" mat-dialog-close><img src="../../../../assets/close-black.png"></button>
  <div class="modalTitle"> {{ productModalTitle }}</div>
  <div class="input">
    <label for="customerNo">Product Code</label>
    <input id="customerNo" formControlName="productCode">
  </div>
  <div class="input">
    <label for="name">Name </label>
    <input id="name" formControlName="name">
  </div>
  <div class="mainUnit" >
    <div class="unitName input">
      <label for="unit1">Unit </label>
      <input id="unit1" formControlName="unit1">
    </div>
    <div class="unitPrice input">
      <label for="price1">Price (optional) </label>
      <input id="price1" formControlName="price1">
    </div>
  </div>
 <form [formGroup]="anotherUnitsForm">
   <div class="additionalUnits" *ngFor="let unit of unitsArr">
     <div class="unitName input">
       <label for="unit{{unit}}">Unit-{{unit}} </label>
       <input id="unit{{unit}}" formControlName="unit{{unit}}">
     </div>
     <div class="unitPrice input">
       <label for="price{{unit}}">Price (optional) </label>
       <input id="price{{unit}}" formControlName="price{{unit}}">
     </div>
     <div (click)="deleteUnit()">
       <app-delete-button ></app-delete-button>
     </div>
   </div>
 </form>
  <div *ngIf="unitsArr.length<(maxUnitsAmount-1); else maxUnitsAmountText" class="addUnitButton" (click)="addUnit()">
    <div class="addUnitButtonImg"></div>
    <div class="addUnitButtonText">Add Unit</div>
  </div>
  <ng-template #maxUnitsAmountText>
    <div class="maxUnitsAmountText">
      Max number of Units - {{maxUnitsAmount}}
    </div>
  </ng-template>

  <div class="input">
    <label for="availability">Availability </label>
    <select id="availability" formControlName="availability">
      <option>In stock</option>
      <option>Out of stock</option>
      <option>Discounted</option>
    </select>
  </div>
</form>

<div class="modalWindowButtons">
  <button class="cancelButton modalWindowButton" mat-dialog-close>Cancel</button>
  <button class="confirmButton modalWindowButton" (click)="addNewProduct()" mat-dialog-close>
    <img src="../../../../assets/math-plus-white.png" alt="white-plus" >
    Add Product
  </button>
</div>
