.modalWindow{
  width: 376px;
}
.mainUnit, .additionalUnits{
  display: flex;
  flex-basis: auto;
  align-items: center;
}

.additionalUnits{
  align-items: flex-end;
  & div:last-child{
    margin-bottom: 8px;
  }
}

:host ::ng-deep{
  .mat-checkbox-checked{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
  }

  .mat-checkbox-inner-container {
    margin: auto 13px auto 9px;
  }
}

mat-checkbox{
  width: 94px;
  position: center;
  padding: 12px 0;
}

.mat-checkbox-label{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}

select, option{
  height: 48px;
  border: 1px solid #A1A1A1;
  border-radius: 8px;
  outline: none;
}

.addUnitButton{
  margin-top: 16px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  width: 103px;
  border: 1px solid #C0C0C0;
  border-radius: 8px;
  &Img{
    width:24px;
    height: 24px;
    margin-right: 8px;
    background: url("../../../../assets/math-plus-blue.png") center no-repeat;
  }

  &Text{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #1672EC;
  }
}

.maxUnitsAmountText{
  width: fit-content;
  margin: 0 auto;
}

.mainUnit .input{
  & input{
    width: 164px;
  }

  &:first-child input{
    margin-right: 16px;
  }
}

.additionalUnits .input{
  &:first-child input{
    width: 164px;
    margin-right: 16px;
  }

  &:nth-child(2) input{
    width: 108px;
    margin-right: 16px;
  }
}
