.mainUnit{
  display: flex;
  flex-basis: auto
}



:host ::ng-deep{
  .mat-checkbox-checked{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
  }

  .mat-checkbox-inner-container {
    margin: auto 13px auto 9px;
  }
}

mat-checkbox{
  width: 94px;
  position: center;
  padding: 12px 0;
}

.mat-checkbox-label{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}

.customerDaysCheckbox{
  margin-bottom: 8px;
}

.customerModalWindowButtons{
  padding: 20px 24px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.modalWindowButton{
  outline: none;
  padding: 12px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  border-radius: 8px;
}

.cancelCustomerButton{
  color: #616161;
  border: 1px solid #C0C0C0;
  background-color: transparent;
}

.addCustomerButton{
  margin-left: 16px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: #1672EC;
  color: #C5DCFA;
  border: none;
  & img{
    margin: 0 16px 0 4px;
  }
}
