.page-wrapper{
  display: flex;
}

app-navigation{
  width: 16vw;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #E0E0E0;
}

.content{
  width: 84vw;
  height: 100vh;
  padding: 0 2vw;
  background-color: #E5E5E5;
}
