@import "../assets/styles/variables";

.page-wrapper{
  display: flex;
}

app-navigation{
  width: 16vw;
  height: 100vh;
  background-color: $color-2;
  border-right: 1px solid $color-3;
}

.content{
  width: 84vw;
  height: 100vh;
  padding: 0 2vw;
  background-color: $color-1;
}
