<div class="mainContentButtons">
  <app-add [addBtnText]="addBtnText"></app-add>

  <app-replace-catalog></app-replace-catalog>
</div>

<app-page-title [title]="title"></app-page-title>

<app-search-field [placeholder]="placeholder"></app-search-field>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="firstEmptyColumn">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" > </td>
  </ng-container>

  <ng-container matColumnDef="productCode">
    <th mat-header-cell *matHeaderCellDef> Product Code </th>
    <td mat-cell *matCellDef="let element" > {{element.productCode}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" > {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="mainUnit">
    <th mat-header-cell *matHeaderCellDef> Unit </th>
    <td mat-cell *matCellDef="let element" > {{ transformUnits(element) }}</td>
  </ng-container>

  <ng-container matColumnDef="mainUnitPrice">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element" > {{ element.mainUnit.price}}</td>
  </ng-container>

  <ng-container matColumnDef="availability">
    <th mat-header-cell *matHeaderCellDef> Availability </th>
    <td mat-cell *matCellDef="let element" > {{element.availability}} </td>
  </ng-container>

  <ng-container matColumnDef="deleteButton">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element"><app-delete-button (click)="openDeleteModalWindow(element)"></app-delete-button></td>
  </ng-container>

  <ng-container matColumnDef="lastEmptyColumn">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" > </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
</table>

<div *ngIf="(catalogData).length==0" class="emptyTable">
  <app-empty-table></app-empty-table>
  <div class="emptyTableButtons">
    <app-add [addBtnText]="addBtnText"></app-add>
    <app-replace-catalog></app-replace-catalog>
  </div>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
