.titleAddWrapper{
  display: flex;
  align-items:center;
}

app-add{
  position: absolute;
  top: 24px;
  right: 24px
}

app-page-title{
  margin-right: 56.2vw;
}

app-replace-catalog{
  position: absolute;
  right: 201px;
  top: 24px
}

.trashImgWrapper{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("../../assets/trash.png") center no-repeat;
  &:hover{
    background-image: url("../../assets/trash-active.png");
    background-color: #FCD0CF;
  }
}
