.logo{
  padding: 20px 20px 20px 0;
  margin-bottom: 28px;
  margin-left: -36px;
  margin-right: 36px;
}

a{
  text-decoration: none;
  outline: none;
}



.item{
  display: flex;
  height: 48px;
  align-items: center;
}

.itemTitle{
  margin-left: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #414141;
}

.active-link{
  & .item{
    background-color: rgba(197, 220, 250, 0.51);
    border-radius: 0 12px 12px 0;
    & .itemTitle{
      color: #1672EC;
    }
  }
}

.logout{
  position: absolute;
  bottom: 8px;
}
