<div *ngIf="route.url!='/orders/print'; else print" class="pageWrapper">

  <div class="smallMenu">
    <app-small-menu></app-small-menu>
  </div>

  <div>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-navigation [navIsOpened]="navIsOpened"></app-navigation>
      </mat-drawer>

      <div class="example-sidenav-content">
        <div class="pageTitle">
          <img src="../../assets/menu.png" class="burgerImg" (click)="drawer.toggle()"/>
          <div class="title">{{route.url.slice(8)}}</div>
        </div>
        <router-outlet></router-outlet>
        <div style="text-transform: capitalize">{{pageName}}</div>
      </div>
    </mat-drawer-container>
  </div>
</div>

<ng-template #print>
  <app-print></app-print>
</ng-template>
