
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$calendar-primary: mat.define-palette(mat.$indigo-palette);
$calendar-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$calendar-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$calendar-theme: mat.define-light-theme((
  color: (
    primary: $calendar-primary,
    accent: $calendar-accent,
    warn: $calendar-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($calendar-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
*{
  margin: 0;
  font-family: 'Manrope', sans-serif !important;
}

.mat-calendar-body-range-end{
  .mat-calendar-body-selected {
    background-color: white;
    color: #0F56B3;
    border: 1.5px solid #5096F1;
  }
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border: none;
}

.mat-calendar-body-selected {
  background-color: #1672EC;
  color: white;

  &:last-child{
    background-color: white;
    color: #0F56B3;
  }
}

.mat-calendar-body-in-range::before {
  background: #C5DCFA80;
}

.mat-datepicker-actions .mat-button-base{
  margin: 8px;
  height: 48px;
  &:last-child{
    background: #1672EC;
    width: 111px;

  }
}

table {
  width: 100%;
  box-shadow: none;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  border-spacing: 0;
}

th.mat-header-cell{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  color: black;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1672EC;
}

.mat-dialog-container{
  padding: 0!important;
  box-shadow: none !important;
}

.modalWindow{
  max-width: 26vw;
  padding: 22px 24px;
  background-color: white;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
}

.modalTitle{
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 16px;
}

.modalWindowButtons{
  padding: 20px 24px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.modalWindowButton{
  outline: none;
  padding: 12px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
}

.cancelModalButton{
  color: #616161;
  border: 1px solid #C0C0C0;
  background-color: transparent;
}

.modalCloseBtn{
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  outline: none;

  &:hover{
    border-radius: 18px;
    background: rgba(224, 224, 224, 0.5);
  }
}

.input{
  display: flex;
  flex-direction: column;
  & label{
    margin:16px 0 2px 12px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #616161;
  }

  & input{
    border: 1px solid #A1A1A1;
    border-radius: 8px;
    height: 48px;
    padding-left: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0168em;
    text-align: left;
    outline: none;
  }

  & textarea{
    min-height: 120px;
    border: 1px solid #A1A1A1;
    border-radius: 8px;
    resize: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0168em;
    text-align: left;
  }
}

.modalDescription{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}

.cancelButton{
  color: #616161;
  border: 1px solid #C0C0C0;
  background-color: transparent;
}

.confirmButton{
  margin-left: 16px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: #1672EC;
  color: #C5DCFA;
  border: none;
  & img{
    margin: 0 16px 0 4px;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

table tr:not(.mat-header-row):hover{
  background-color: rgba(224, 224, 224, 0.25);
  & td:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border:none;
  }

  & td:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px ;
    border:none;
  }
}

th:not(:first-child, :last-child):hover{
  border-bottom: 2px solid #1672EC!important;
}

.emptyTableHeading{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.0075em;
  text-align: center;
  padding-bottom: 8px;
}

.inboxImg{
  margin: 0 auto 24px auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: rgb(226,237,252);
  background-image: url("assets/inbox.png");
  background-repeat: no-repeat;
  background-position: center;
}

.emptyTableDescription{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0168em;
  text-align: center;
  color: #818181;
  padding-bottom: 40px;
}

.emptyTable{
  background-color: white;
  border: 1px solid #E0E0E0;
  border-top: none;
  padding: 64px 0 49px 0;
}

tr:last-child td{
  border-bottom: none!important;
}

tr td:first-child, tr td:last-child{
  border: none;
}

.mat-form-field-underline {
  display: none;
}

.mat-paginator-page-size-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0168em;
  text-align: left;
  margin: 0 12px!important;
}

.mat-form-field-infix {
  border: none;
  padding: 8px 12px!important;
  margin-right: 6px;
}

.mat-form-field-flex {
  width: 80px;
  border: 1px solid silver;
  border-radius: 8px;
}

.mat-form-field-wrapper {
  padding: 0!important;
}

.mat-paginator-page-size-select {
  margin: 0!important;
  width: 80px!important;
  padding: 0;
}

.mat-select-min-line {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0168em;
  text-align: left;
}

mat-paginator .mat-button-wrapper {
  display: none!important;
}

.mat-icon-button {
  margin-right: 12px!important;
  width: 32px!important;
  height: 32px!important;
  background-color: #E0E0E050!important;
  vertical-align: top!important;
}

.mat-paginator-range-actions button:nth-child(2) .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
  background: url("assets/push-chevron-left.png") center no-repeat;
}

.mat-paginator-range-actions button:nth-child(3) .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
  background: url("assets/chevron-left.png") center no-repeat;
}

.mat-paginator-range-actions button:nth-child(4) .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
  background: url("assets/chevron-right.png") center no-repeat;
}

.mat-paginator-range-actions button:nth-child(5) .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
  background: url("assets/push-chevron-right.png") center no-repeat;
}

.mat-paginator-container {
  padding: 0!important;
}

mat-paginator {
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #E0E0E0;
  border-top: none;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 10px!important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0!important;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0!important;
}

th:not(:first-child), th:not(:last-child){
  padding: 0 10px!important;
}

th:first-child, th:last-child, td:first-child, td:last-child{
  width: 16px!important;
  padding: 0!important;
}


.logoForm{
  position: absolute;
  top:40px;
  left: 60px;
}

//TODO: Refactor mat-datepicker styles
