<div class="customerSelect">
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Customer selection">
      <mat-chip
        *ngFor="let customer of customers$ | async"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(customer)">
        {{customer}}
        <img class="closeImg" matChipRemove src="../../../../assets/close-black.png" alt="close">
      </mat-chip>
      <input
        #customerInput
        [formControl]="customerCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
        {{customer}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

