$color-1: rgb(247, 247, 247);
$color-2: white;
$color-3: #E0E0E0;
$color-4: #A1A1A1;
$color-5: #1672EC;
$color-6: #C5DCFA;
$color-7: #2AB930;
$color-8: #F7716E;
$color-9: rgba(197, 220, 250, 0.51);
$color-10: #616161;
$color-11: rgba(224, 224, 224, 0.5);
$color-12: #C0C0C0;
$color-13: rgba(97, 97, 97, 0.18);
$color-14: #C5DCFA80;
$color-15: #FCD0CF;
$color-16: #F5413D;
$color-17: #C5DCFA50;
$color-18: #1F8B24;
$color-19: #8CE590;
$color-20: #0F56B3;
$color-21: #5096F1;
$color-22: black;
$color-23: rgba(224, 224, 224, 0.25);
$color-24: rgb(226, 237, 252);
$color-25: silver;
$color-26: #E0E0E050;
