@import "../../../../assets/styles/variables.scss";

.confirmedStatus{
  color: #1F8B24;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  text-align: left;
}

.confirmedStatusWrapper{
  width: 84px;
  height: 24px;
}

.notConfirmed{
  width: 93px;
  height: 40px;
  background-color: $color-5;
  color: $color-6;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  outline: none;
  cursor: pointer;
}

