@import "../../../../assets/styles/variables.scss";

.replaceCatalog {
  display: flex;
  align-items: center;

  &:hover {
    background: $color-11;
    cursor: pointer;
    border-radius: 8px;
  }
}

.replaceIcon {
  background: url("../../../../assets/software-upload.png") center no-repeat;
  width: 16px;
  height: 16px;
  padding: 12px;
}

.replaceText {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  padding-right: 12px;
  color: #414141;
}
